body {
    background-color: #B3090c;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

.navlist {
    display: inline;
    text-align: center;
    font-weight: bold;
}

li a:hover {
    background-color: #E57853;
    color: white;
}
.active {
    background-color: #E57853;
}

h1 {
    width: 100%;
    font-family: "Georgia", serif;
    font-size: 2.5em;
    background-color: #FED69A;
    text-align: center;
}

h2 {
    font-family: "Georgia", serif;
    font-size: 1.75em;
    border: 1px solid black;
    background-color: #FED69A;
    text-align: center;
}

h3 {
    font-family: "Georgia", serif;
    font-size: 1.75em;
    border: 1px solid black;
    background-color: #FED69A;
    text-align: center;
}


p {
    font-family: "Georgia", serif;
    font-size: 1em;
    color: white;
}
/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #B3090c; /* Red */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10px;
    border: 1px solid black;
}
/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 20px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #FED69A;
    display: block;
}

.sidenav p {
    text-align: center;
}
/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}
.topnav {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}
/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height : 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #FED69A;
    overflow: hidden;
}
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #B3090c;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
/* Add a color to the active/current link */
.topnav a.active {
    background-color: #FED69A;
    color: purple;
}