body {
    background-color: #B3090c;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

.navlist {
    display: inline;
    text-align: center;
    font-weight: bold;
}

li a:hover {
    background-color: #E57853;
    color: white;
}
.active {
    background-color: #E57853;
}

h1 {
    width: 100%;
    font-family: "Georgia", serif;
    font-size: 2.5em;
    background-color: #FED69A;
    text-align: center;    
}

h2 {
    font-family: "Georgia", serif;
    font-size: 1.75em;
    border: 1px solid black;
    background-color: #FED69A;
    text-align: center;
}

h3 {
    font-family: "Georgia", serif;
    font-size: 1.75em;
    border: 1px solid black;
    background-color: #FED69A;
    text-align: center;
}

h4 {
    font-family: "Georgia", serif;
    font-size: 1.75em;
    border: 1px solid black;
    background-color: #FED69A;
    text-align: center;
}


p {
    font-family: "Georgia", serif;
    font-size: 1em;
    color: black;
}
/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #B3090c; /* Red */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10px;
    border: 1px solid black;
}
/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 14px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #FED69A;
    display: block;
}

.sidetxt p {
    text-align: center;
    color: white;
    font-size:11px;
}
/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}
.topnav {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}
/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height : 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 10px;
    }
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #FED69A;
    overflow: hidden;
}
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #B3090c;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
/* Add a color to the active/current link */
.topnav a.active {
    background-color: #FED69A;
    color: purple;
}

.flex-li a {
    color: #B3090c;
}

/* Taken from https://coder-coder.com/display-divs-side-by-side/ */
.flex-container {
    display:flex;
    gap: 5px;
}

.flex-child {
    flex: 7;
    border: 2px solid black;
    background-color: #FED69A;
    margin:10px;
}  

.flex-child-content {
    flex: 7 3 20em;
    border: 2px solid black;
    background-color: #FED69A;
    margin:10px;
}

.flex-header {
     background-color: #B3090c;
     color: white;
     margin:20px;
}

.flex-ul {
    margin:1px;
}

.flex-para {
    padding: 15px;
}

/* For the wiki, the label with the image looks different from the rest */
.flex-para1 {
    text-align: center;
    color:#B3090c;
}
.flex-li {
    padding: 10px;  
}

.wikiTitle {
    text-align: left;
    text-indent: 1em;
    font-size: 2em;
    margin-left:150px;
    margin-right:200px;
    
}


/* 
.container {
    display: grid;
    grid-template-columns:[first] 400px [line2] 400px [line3] auto [col4-start] 200px [five] 200px [end];
    grid-template-rows: [row1-start] 25% [row1-end] 100px [third-line] auto [last-line];
    justify-content: space-around;
}

.item-b {
  padding:10px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: last-line;
    color:black;
    background-color: #FED69A;

}

.item-a {
    grid-area: 1/col4-start/last-line/6;
    text-align:center;
    background-color: #FED69A;
    padding: 10px;
}

.item-c {  
padding:10px;
    grid-column-start: 2;
    grid-column-end: span col4-start;
    grid-row-start: 1;
    grid-row-end: last-line;
    color:black;
    background-color: #FED69A;
}
 */
.side {
    color:black;
}

li {
    font-size:1.25em;
}

.wiki {
    font-size:1.5em;
}
 
.wiki-heading {
font-size:2em;
    text-align: left;
    padding-left:20px;
    border:2px solid black;

}

p {
    color: black;
    font-size:1.15em;
    margin-left:20px;
}

.sidetxt {
    color:white;
    font-size:1em;
    text-align:center;
    margin-left:5px;
}

img {
    text-align:center;
}